<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <!-- Favicons -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <!-- Title -->
        <title>Tableau de bord de l'université</title>
    </head>
      

    <body style="background-color:#ececec;">
            <!-- ----- -->
            <!-- TITRE -->
            <!-- ----- -->
            <div class="titre">
                    Outils de gestion Moodle
            </div>

            <div class="box">

                <!-- ----- -->
                <!-- Boite gauche : professeur -->
                <!-- ----- -->
                <div class="sous_boite">
                    <form action = "http://localhost:5000/index" method = "post">
                    <!-- Titre boite -->
                    <div class="titre_boite">
                        <br>
                        Professeur
                        <br/>
                        <br/>
                    </div>

                    <!-- Code module -->
                    <p style="margin-bottom: 40px">
                        <img src="../static/avatars/img_code_module.png" width="35" height="35"> &nbsp;&nbsp;
                        Code module : &nbsp;&nbsp;<select name = "code_module"  style="width:137px">
                            {% for item in dic_prof.code_module %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <!-- Code présentation -->
                    <p style="margin-bottom: 50px">
                        <img src="../static/avatars/img_code_presentation.png" width="35" height="35"> &nbsp;&nbsp;
                        Code presentation : &nbsp;&nbsp; <select name = "code_presentation" style="width:100px">
                            {% for item in dic_prof.code_presentation %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </select>
                        <br/>
                    </p>

                    <!-- Temps d'évolution - slidebar -->
                    <div class="wrapper">

                        <p style="margin-bottom: 60px">
                            <input class="custom-slider" type="range" value="0" max="100" min="0" step="10" name="temps">
                            <datalist id="my-datalist" style="--list-length: 3;">
                                <option>0</option>
                                <option>50</option>
                                <option>100</option>
                            </datalist>
                        </p>
                    
                    
                        <button class="align-self-end bouton" type="submit" name="choix" value="profil_prof">Valider</button>
                    </div>
                    </form>
                </div>
            
                <!-- ----- -->
                <!-- Boite droite : élève -->
                <!-- ----- -->
                <div class="sous_boite">
                    <form action = "http://localhost:5000/index" method = "post">
                    <!-- Titre boîte -->
                    <div class="titre_boite" style="margin-bottom: 50px">
                        <br>
                        Elève
                        <br/>
                        <br/>
                    </div>

                    <!-- Identité élève -->
                    <p style="margin-bottom: 96px">
                        <img src="../static/avatars/avatar.png" width="25" height="25"> &nbsp;&nbsp;
                        Identifiant : &nbsp;&nbsp;<select name = "identifiant" style="width:170px">
                            {% for item in dic_eleve.id_student %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <!-- Temps d'évolution - slidebar -->
                    <div class="wrapper">

                        <p style="margin-bottom: 60px;">
                            <input class="custom-slider" type="range" value="0" max="100" min="0" step="10" name="temps">
                            <datalist id="my-datalist" style="--list-length: 3;">
                                <option>0</option>
                                <option>50</option>
                                <option>100</option>
                            </datalist>
                        </p>
                    
                        <button class="bouton" type="submit" name="choix" value="profil_eleve">Valider</button>  
                    </div>
                    </form> 
                </div>
            </div>
         
    </body>

</html>