<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Scripts -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Erreur</title>
     </head>
      

    <body style="background-color:#ececec;">
            <!-- ----- -->
            <!-- TITRE -->
            <!-- ----- -->
        <div class="titre">
            <form action = "http://localhost:5000/" method = "get">
                Cours non assuré
                <button class="bouton_accueil" type="submit">Retour accueil</button>
            </form>
        </div>
    </body>

</html>